<div class="parent">
  <section class="home">
    <h1>Welcome👋</h1>
    <p>
      This portal allows you to securely upload your CSV files containing your patient records and view them anytime, anywhere.
      This application is build with Angular14 + .NET6 + EF CORE. For more Infomration, please visit the <a href="https://github.com/RingoKam/PatientPortal">github link here</a>. 
    </p>
  </section>
  <section class="upload">
    <h1>Upload Data ☁️</h1>
    <p>Upload patient data via CSV. Data are persisted in your localDB</p>
    <button mat-raised-button matRipple [routerLink]="'upload'">Visit</button>
  </section>
  <section class="view">
    <h1>Browse Data🔍</h1>
    <p>Read and filter patient record uploaded so far. All search/filter/sort are performed on the server side to ensure performant</p>
    <button mat-raised-button matRipple [routerLink]="'view'">Visit</button>
  </section>
</div>